/* Reset codes */
@font-face {
    font-family: 'robotoregular';
    src: url('../fonts/roboto-regular-webfont.woff2') format('woff2'),
         url('../fonts/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotolight';
    src: url('../fonts/roboto-light-webfont.woff2') format('woff2'),
         url('../fonts/roboto-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotomedium';
    src: url('../fonts/roboto-medium-webfont.woff2') format('woff2'),
         url('../fonts/roboto-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*{
	box-sizing:border-box;
}
body{
	line-height: 23px;
	font-family: 'robotoregular';
	font-size:16px;
	color:#2D2D2D;
	position:relative;
}
h1,
h2,
h3,
h4,
h5,
h6,
p{
	margin:0px;
}
ul {
    list-style: none;
    margin-bottom: 0;
	padding: 0px;
}
button,
a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    border: none;
    outline: 0;
	outline-offset: 0px;
}
button:focus{
	outline:0px;
}
input:focus,input:active{
    outline: none;
}
.navbar-brand:focus, .navbar-brand:hover {
    color: inherit;
}
.navbar .navbar-toggle {
    border-color: #ddd;
	margin-top: 0px;
}
.navbar .navbar-toggle .icon-bar {
    background-color: #888;
}
.navbar .navbar-toggle:focus, .navbar .navbar-toggle:hover {
    background-color: #ddd;
}
.bttn {
    background: #F4413C;
    border: none;
    padding: 10px 25px;
    border-radius: 5px;
    transition: 0.3s;
	color:#fff;
	display:inline-block;
}
.bttn:focus, .bttn:hover{
	color:#fff;
	background: #000;
}
.bttn h3{
	font-size: 25px;
	font-family: 'robotolight';
	margin-left:10px;
}
.bttn h3 span{
	font-size:12px;
}
.bttn i:before {
    font-size: 45px;
    padding-top: 15px;
    display: inline-block;
    margin-left: 0px;
}